.link-container li {
  height: 30px;
  line-height: 30px;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

.link-container li:hover {
  background-color: #fff;
  color: royalblue;
}
