.header-container {
  height: 100%;
}
.header-container .left {
  float: left;
  height: 60px;
  line-height: 60px;
}

.header-container .right {
  float: right;
  height: 60px;
  line-height: 60px;
}
